@import url('https://fonts.googleapis.com/css2?family=Sono&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Sono', sans-serif;
    box-sizing: border-box;
}
html, body{

    height: 100vh;

}
.main{
  
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    justify-content: flex-end;
   
}
.white{
    width: 50%;
    background-color: white;
    padding: 3rem;
    padding-top: 10rem;
}
.id1{

    display: flex;
    margin-top: 12rem;
    margin-bottom: 12rem;


}
.id2{
   
    flex-wrap: wrap;
    display: flex;
    justify-content: flex-end;
    margin-top: 12rem;
    margin-bottom: 12rem;
 
 
}

.sitto{
   
    border: 2px solid black;
    right: 0rem;
    height: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
}
.you{
   
    border: 2px solid black;
    height: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
 
}
#secondlast{
    margin-bottom: 1rem;
}
#last{
    margin-top: 0;
}

#lastn{
    margin-bottom: 1rem;
}
#lastnn{
    margin-top: 0;
   
}
a{
    margin: 20px;
    text-decoration: none;
    color: red;
    display: flex;
}
.container {
	display: flex;
    justify-content: space-around;
    margin-top: 3rem;
    margin-bottom: 5rem;


}
.lcontain, .rcontain{
    border: 2px solid black;
    cursor: pointer; 
    transition: ease-in 0.3s;

}
.lcontain:hover, .rcontain:hover{
    box-shadow: rgba(240, 46, 95, 0.4) 5px 5px, rgba(240, 46, 111, 0.3) 10px 10px, rgba(240, 46, 78, 0.2) 15px 15px, rgba(240, 46, 104, 0.1) 20px 20px, rgba(240, 46, 111, 0.05) 25px 25px;
    
} 

.id1 p, .id2 p{
    margin: 20px;
}
.white img{
    width: 24px;
    height: 24px;
    margin-right: 8px;
}
video{
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    width: 50%;
    filter: opacity(0);
}
video:hover{
    filter: opacity(100);

}
.logo{
    width: 12rem;
    height: 12rem;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    display: flex;
}
.blackimage{
    height: 100%;
    width: 50%;
    background-color: black;
    background: url(asset/blackside.png);
    background-size: cover;
}
.whiteimage{
    height: 100%;
    width: 50%;
    background-color: white;
    background: url(asset/whiteside.png);
    background-size: cover;
}
h1{
    position: fixed;
    color: white;
    z-index: 1;
    visibility: hidden;
}
h3{
    position: fixed;
    color: rgb(255, 0, 0);
    z-index: 1;
    top :27%;
    left: 25%;
    transform: translate(-60%,0);
    visibility: hidden;
}
.top{
    top: 1rem;
    left: 25%;
    transform: translate(-50%,0);
}
.bottom{
    bottom: 1rem;
    left: 25%;
    transform: translate(-50%,0);
}
title{
    color: blueviolet;
}

@media only screen and (max-device-width: 480px){
    .main{
        justify-content: flex-start;
    }
    .white{
        width: 100%;
        padding: 10rem 1rem 1rem 1rem
    }
    .whiteimage{
        background: url(asset/bwhiteside.png);
        background-size: cover;  
    }
    .container{
        margin-bottom: 10rem;
    }
  
    .logo{
        top: 50%;
    }   
}



